doctype html 
html(lang="e")
    head 
        title pug test 
    body 
        include includes
        header.pug 
        block appContent 
        include includes
        footer.pug 
    


app.get("/continents", (req, res) => {
    db.execute("SELECT * FROM 'continent'", (err, rows, fields) => {
        res.render("continent,"{data:rows});
    })

});


app.get("/regions", (req, res) => {
    db.execute("SELECT * FROM 'region'", (err, rows, fields) => {
        res.render("region,"{data:rows});
    })

});