@import url(https://fonts.googleapis.com/css2?family=Poppins);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: beige;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: beige;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: beige;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}


.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid beige;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: beige;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: beige;
    color: gray;
}
.buttons {
    position: fixed;
    top: 195px;
    left: 1050px;
}

.buttons .btnFilter {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: gray;
    font-weight: 500;
    transition: .5s;
}
.buttons .btnSort {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: gray;
    font-weight: 500;
    transition: .5s;
}
/*.buttons .btnResultPP {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: gray;
    font-weight: 500;
    transition: .5s;
}*/
.buttons .btnReport {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: gray;
    font-weight: 500;
    transition: .5s;
}

.container {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.select-container {
    text-align: left;
    margin-right: 20px; 
}

label {
    display: block;
    margin-bottom: 5px; 
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #170a0a;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the arrow icon */
select::after {
    content: "\25BC"; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

